<head>
	<meta charset="utf-8" />

	<link
		rel="apple-touch-icon"
		sizes="57x57"
		href="/icons/apple-icon-57x57.png"
	/>
	<link
		rel="apple-touch-icon"
		sizes="60x60"
		href="/icons/apple-icon-60x60.png"
	/>
	<link
		rel="apple-touch-icon"
		sizes="72x72"
		href="/icons/apple-icon-72x72.png"
	/>
	<link
		rel="apple-touch-icon"
		sizes="76x76"
		href="/icons/apple-icon-76x76.png"
	/>
	<link
		rel="apple-touch-icon"
		sizes="114x114"
		href="/icons/apple-icon-114x114.png"
	/>
	<link
		rel="apple-touch-icon"
		sizes="120x120"
		href="/icons/apple-icon-120x120.png"
	/>
	<link
		rel="apple-touch-icon"
		sizes="144x144"
		href="/icons/apple-icon-144x144.png"
	/>
	<link
		rel="apple-touch-icon"
		sizes="152x152"
		href="/icons/apple-icon-152x152.png"
	/>
	<link
		rel="apple-touch-icon"
		sizes="180x180"
		href="/icons/apple-icon-180x180.png"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="192x192"
		href="/icons/android-icon-192x192.png"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="32x32"
		href="/icons/favicon-32x32.png"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="96x96"
		href="/icons/favicon-96x96.png"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="16x16"
		href="/icons/favicon-16x16.png"
	/>
	<meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta name="theme-color" content="#2f3d47" />

	<link rel="manifest" href="/icons/manifest.json" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<title>TCS</title>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script
		async
		src="https://www.googletagmanager.com/gtag/js?id=G-KTTVGC821C"
	></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-KTTVGC821C");
	</script>
</head>

<body>
	<div id="react-target"></div>
	<script>
		window.Userback = window.Userback || {};
		Userback.access_token = "32672|60001|SHZTvVusMcTiRDTjwulJy6LCY";
		(function (d) {
			var s = d.createElement("script");
			s.async = true;
			s.src = "https://static.userback.io/widget/v1.js";
			(d.head || d.body).appendChild(s);
		})(document);
	</script>
</body>
