@import "../../styles/variables";

.overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: transparentize($slate-dk, 0.05);
	z-index: 99995;
}

.modal {
	color: $slate;
	width: calc(100% - #{$spacing-large});
	max-width: 1166px;
	max-height: calc(100vh - #{$spacing-large * 2});
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: $spacing-large;
	box-sizing: border-box;
	background-color: $white;
	border: $border-size solid $slate-dk;
	overflow-y: auto;

	z-index: 99995;

	@media #{$break-md-up} {
		width: calc(100% - #{$spacing-large * 2});
	}

	&.limit-modal {
		width: 523px;
	}

	&.end-buttons {
		padding-bottom: $spacing-standard;
	}

	&.end-paragraph {
		padding-bottom: #{$spacing-medium / 2};
	}

	&:focus-visible {
		outline: 0;
	}

	h3 {
		margin-bottom: $spacing-standard !important;
	}

	.heading-with-button {
		h3 {
			margin-bottom: 0 !important;
		}
	}
}
