@import "../../lib/styles/variables.scss";

.dashboard {
	.notif-box {
		.grey-box-inner {
			padding: #{$spacing-large / 2};

			.notifs {
				.notif {
					display: flex;
					align-items: center;
					margin-bottom: 15px;

					&:last-of-type {
						margin-bottom: 0;
					}

					.notif-badge {
						margin-right: 15px;
						border: $border-size solid $slate;
					}

					p {
						margin: 0;

						.action-link {
							margin: 0;
							padding: 0;
							border: 0;
						}
					}
				}
			}
		}
	}

	.kanban {
		overflow-x: auto;

		.kanban-inner {
			display: flex;
			margin: 0 -15px 18px -15px;

			.status-group {
				width: 295px;
				flex-shrink: 0;
				margin: 0 15px;

				.group-inner {
					height: 100%;
					display: flex;
					flex-direction: column;

					.group-title {
						width: 100%;
						display: block;
						-webkit-appearance: none;
						appearance: none;
						padding: 22px 25px 21px 25px;
						background-color: $slate;
						border: 0;
						font-weight: $font-weight-bold;
						font-size: $font-size-supporting;
						color: $white;
						text-transform: uppercase;
						text-align: left;
						line-height: $line-height-body;
						cursor: pointer;

						.group-title-inner {
							display: flex;

							.icon {
								margin-left: auto;
							}
						}
					}

					.group-tasks {
						flex-grow: 1;
						border: $border-size solid $slate;

						.task {
							padding: 21px 25px;
							-webkit-appearance: none;
							appearance: none;
							background-color: transparent;
							border: 0;
							font-size: $font-size-body;
							color: $slate;
							text-transform: none;
							text-align: left;
							line-height: $line-height-body;
							cursor: pointer;

							&:nth-child(even) {
								background-color: $grey-lt;
							}

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}

				&.collapsed {
					width: 65px;
					height: auto;
					min-height: 285px;

					.group-inner {
						.group-title {
							height: 100%;

							.group-title-inner {
								height: 100%;
								flex-direction: column;

								.text {
									transform: rotate(90deg);
									white-space: nowrap;
								}

								.icon {
									margin: auto 0 0 0;
								}
							}
						}

						.group-tasks {
							display: none;
						}
					}
				}
			}
		}
	}
}
