@import "../../styles/variables";

.utility-nav {
	.item {
		width: 100%;
		position: relative;

		@media #{$break-xl-up} {
			width: auto;
		}

		&:last-of-type {
			margin-bottom: $spacing-standard;

			@media #{$break-xl-up} {
				margin-bottom: 0;
			}
		}

		a {
			display: block;
			font-weight: $font-weight-medium;
			font-size: $font-size-supporting;
			color: $white;
			text-decoration: none;
			transition: color $transition-speed $transition-easing;

			@media #{$break-xl-up} {
				margin: $spacing-large 0;
				color: $slate;
			}

			.text-box {
				padding: 14px 25px;
				border-radius: 40px;
				transition: background-color $transition-speed $transition-easing;
			}

			&:hover,
			&.active {
				color: $blue;

				.text-box {
					@media #{$break-xl-up} {
						background-color: $slate;
					}
				}
			}
		}

		.sub-nav-trigger {
			width: 100%;
			margin: 0;
			padding: 0;
			-webkit-appearance: none;
			background-color: transparent;
			border: 0;
			-webkit-border-radius: 0;
			border-radius: 0;
			color: $white;
			cursor: pointer;
			transition: color $transition-speed $transition-easing;

			@media #{$break-xl-up} {
				margin: 49px 0;
				color: $slate;
			}

			.text-box {
				padding: 15px 25px;
				border-radius: 40px;
				transition: background-color $transition-speed $transition-easing;

				.text-box-inner {
					align-items: center;

					.text-inner {
						display: inline-block;
						margin-right: 15px;
						font-weight: $font-weight-medium;
						font-size: $font-size-supporting;
						color: $white;
						text-transform: none;
						line-height: $line-height-condensed;

						@media #{$break-xl-up} {
							color: $slate;
						}

						.user-name {
							font-weight: $font-weight-bold;
							color: $white;
							text-transform: none;

							@media #{$break-xl-up} {
								color: $slate;
							}
						}
					}

					.notif-badge {
						margin-right: 15px;
					}

					.arrow {
						svg {
							margin: 0;
							font-size: 18px;
							color: $white;

							@media #{$break-xl-up} {
								color: $slate;
							}
						}
					}
				}
			}

			&:hover,
			&.expanded {
				.text-box {
					@media #{$break-xl-up} {
						background-color: $slate;
					}
				}
			}

			&:hover {
				.text-box-inner {
					.text-inner {
						color: $blue;

						.user-name {
							color: $blue;
						}
					}

					.arrow {
						svg {
							color: $blue;
						}
					}
				}
			}

			&.expanded {
				.text-box {
					@media #{$break-xl-up} {
						border-radius: 25px;
						border-bottom-right-radius: 0;
						border-bottom-left-radius: 0;
					}

					.text-box-inner {
						.text-inner {
							color: $blue;

							.user-name {
								color: $blue;
							}
						}

						.arrow {
							svg {
								color: $blue;
							}
						}
					}
				}
			}

			&.notif-active {
				.text-box {
					padding: 8px 25px;
				}
			}
		}

		.ReactCollapse--collapse {
			@media #{$break-xl-up} {
				width: 300px;
				position: absolute;
				top: 98px;
				left: 0;
			}
		}

		&:last-of-type {
			.ReactCollapse--collapse {
				@media #{$break-xl-up} {
					left: unset;
					right: 0;
				}
			}
		}
	}
}
