@import "../../styles/variables";

.utility-nav {
	.item {
		.sub-nav {
			background-color: $slate;

			.sub-nav-item {
				a {
					margin: 0;
					padding: 8px 25px;
					font-weight: $font-weight-medium;
					font-size: $font-size-supporting;
					color: $white;
					transition: color $transition-speed $transition-easing;

					&:hover,
					&.active {
						color: $blue;
					}

					.notif-badge {
						margin-left: 10px;
					}
				}

				&:first-of-type {
					a {
						padding-top: 25px;
					}
				}

				&:last-of-type {
					a {
						padding-bottom: 25px;
					}
				}
			}
		}
	}
}
