@import "../../styles/variables";

.utility-nav {
	background-color: $slate-dk;
	z-index: 99;

	@media #{$break-xl-up} {
		background-color: $grey-lt;
	}

	.utility-nav-inner {
		height: auto;
		flex-direction: column;
		align-items: flex-start;

		@media #{$break-xl-up} {
			height: 150px;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			flex-wrap: wrap;
			padding: 0 20px;
		}

		.notif-badge {
			min-width: 10px;
			height: 30px;
			border: $border-size solid $slate;

			&.small {
				min-width: 15px;
				height: 23px;
			}
		}
	}
}
