@import "../../lib/styles/variables.scss";

.entry-settings {
	.form-response {
		margin-top: $spacing-standard;
	}

	.entry-usage {
		margin-bottom: 0;

		ul {
			margin-bottom: 0;

			li {
				a {
					font-weight: $font-weight-bold;
					color: $slate;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	.cancel {
		margin-bottom: 50px;
	}
}
