@import "../../lib/styles/variables";

body {
	font-family: $font-family;
	font-weight: $font-weight-regular;
	font-size: $font-size-body;
	line-height: $line-height-body;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overscroll-behavior-x: none;
}

.app {
	.layout {
		min-height: 100vh;
		flex-direction: column;

		@media #{$break-xl-up} {
			flex-direction: row;
		}

		& > div[class*="layout-col-"] {
			@media #{$break-xl-up} {
				min-height: 100vh;
			}
		}

		& > .layout-col-1 {
			width: 100%;
			background-color: $slate-dk;

			@media #{$break-xl-up} {
				width: 320px;
			}
		}

		& > .layout-col-2 {
			flex-grow: 1;
			flex-direction: column;

			@media #{$break-xl-up} {
				width: calc(100% - 320px);
			}

			main {
				flex-grow: 1;
			}
		}

		&.no-nav {
			& > .layout-col-1 {
				display: none;
			}

			& > .layout-col-2 {
				width: 100%;

				main {
					padding: 0;

					& > section {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

.SnackbarContainer-root {
	z-index: 9999999 !important;
}

code{
	background-color: $grey;
}
