@import "../../lib/styles/variables";

.mobile-blocker {
	min-height: calc(100vh - 50px);
	background-color: $slate;
	color: $white;
	text-align: center;

	& > section {
		min-height: calc(100vh - 100px);
		margin-bottom: 0;

		.mobile-blocker-inner {
			min-height: calc(100vh - 100px);
			display: flex;
			align-items: center;
			justify-content: center;

			.mobile-blocker-content {
				max-width: 350px;

				.icon {
					width: 150px;
					height: 150px;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					margin-top: -150px;
					margin-bottom: $spacing-standard;
					background-color: $slate-dk;
					border-radius: 50%;

					svg {
						font-size: 80px;
					}
				}

				h1 {
					margin-bottom: $spacing-standard;
					color: $white;
				}

				p {
					margin-bottom: 0;
					color: $white;
				}
			}
		}
	}
}
