@import "../../lib/styles/variables";

.server-blocker {
	min-height: calc(100vh - 50px);
	background-color: $slate;
	color: $white;
	text-align: center;

	& > section {
		min-height: calc(100vh - 100px);
		margin-bottom: 0;

		.server-blocker-inner {
			min-height: calc(100vh - 100px);
			display: flex;
			align-items: center;
			justify-content: center;

			.server-blocker-content {
				max-width: 550px;

				@media #{$break-lg-up} {
					max-width: 1000px;
				}

				.grid-row {
					flex-direction: column-reverse;

					@media #{$break-lg-up} {
						flex-direction: row;
					}

					& > div {
						width: calc(100% - 30px);

						@media #{$break-lg-up} {
							width: calc(50% - 30px);
						}
					}
				}

				.image-wrap {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;

					.image {
						width: 70%;
						border-radius: 50px;
						overflow: hidden;

						img {
							width: 100%;
							display: block;
						}
					}
				}

				.icon {
					width: 150px;
					height: 150px;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					margin-bottom: $spacing-standard;
					background-color: $slate-dk;
					border-radius: 50%;

					svg {
						font-size: 80px;
					}
				}

				h1 {
					margin-bottom: $spacing-standard;
					color: $white;
				}

				p {
					margin-bottom: 0;
					color: $white;
				}
			}
		}
	}
}
