@import "../../../../lib/styles/variables.scss";

.modal-section {
	&.brancher-rules {
		color: $white;

		.intro {
			color: $slate;
		}

		.rules {
			margin-bottom: $spacing-standard;

			.rule {
				display: flex;
				margin-bottom: #{$spacing-standard / 2};

				&:last-of-type {
					margin-bottom: 0;
				}

				.rule-icon {
					width: 74px;
					display: flex;
					flex-shrink: 0;
					align-items: center;
					justify-content: center;
					background-color: $grey;

					svg {
						font-size: 22px;
						color: $slate;
					}
				}

				.rule-info {
					width: 100%;
					padding: #{$spacing-large / 2};
					background-color: $grey-lt;

					p {
						margin-bottom: 10px;
						font-size: $font-size-body;
						color: $slate;
					}

					ul {
						margin-bottom: 0;

						li {
							font-size: $font-size-body;
							color: $slate;

							&.rule-text,
							&.group {
								margin-bottom: 15px;

								&:last-of-type,
								&.grouped-rule {
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}
		}

		.action-link {
			font-size: $font-size-body;
			color: $slate;
		}
	}
}
