@import "../../lib/styles/variables";

.conversations {
	.tax-boxes {
		.tax-boxes-inner {
			display: flex;
			flex-wrap: wrap;
			margin: -5px;

			.tax-box {
				margin: 5px;
				padding: 3px 5px 2px 5px;
				background-color: $grey-dk;
				font-size: 12px;
				font-weight: $font-weight-bold;
				color: $slate;
				line-height: $line-height-condensed;
				text-transform: uppercase;
			}
		}
	}

	.page-credit-total {
		color: $slate;

		.page-credit-total-inner {
			display: flex;
			align-items: center;

			span {
				font-weight: $font-weight-bold;
				text-transform: uppercase;
			}

			.credit-icon {
				margin: 0 10px;
			}
		}
	}

	.button-wrap {
		&.with-credit-cost {
			.button-wrap-inner {
				display: flex;
				align-items: center;

				button {
					margin-bottom: 0;

					&[disabled] {
						background-color: transparent;
						box-shadow: inset 0 0 0 $border-size $slate;
						cursor: default;

						span {
							color: $slate;
						}
					}
				}

				.credit-cost {
					.credit-cost-inner {
						display: flex;
						align-items: center;

						.credit-icon {
							margin-right: 10px;
						}
					}
				}
			}
		}
	}

	.bundle-alert {
		margin-top: $spacing-standard;

		p {
			margin-bottom: 0;
		}
	}
}
