@import "../../lib/styles/variables";

.credit-icon {
	width: 19px;
	height: 19px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $blue;
	border: $border-size solid $slate;
	border-radius: 50%;

	&.dark {
		width: 23px;
		height: 23px;
		border: 0;
	}

	&:after {
		content: "c";
		display: block;
		font-family: $font-family;
		font-weight: $font-weight-bold;
		font-size: $font-size-body;
		color: $slate;
	}
}
