@import "../../lib/styles/variables";

.credit-bar {
	padding: 14px $spacing-large 13px $spacing-large;
	background-color: $slate;

	@media #{$break-xl-up} {
		background-color: $slate-dk;
	}

	.credit-bar-inner {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.credit-group {
			display: flex;
			align-items: center;
			padding: 0 15px;
			border-right: $border-size solid $blue;
			font-size: $font-size-supporting;
			color: $white;
			line-height: $line-height-condensed;

			&:first-of-type {
				padding-left: 0;
			}

			&:last-of-type {
				padding-right: 0;
				border-right: 0;
			}

			.credit-type {
				font-weight: $font-weight-bold;
				text-transform: uppercase;
			}

			.credit-icon {
				margin: 0 15px;
			}
		}
	}
}
