@import "../../lib/styles/variables";

.thread-listing {
	.thread-listing-inner {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;

		.thread-listing-item {
			width: 100%;
			position: relative;
			margin: 15px;
			padding: 25px 25px 103px 25px;
			box-sizing: border-box;
			background-color: $grey-lt;

			@media #{$break-lg-up} {
				width: calc(33.3% - 30px);
			}

			h4 {
				margin-bottom: 20px;

				button {
					display: inline;
					padding: 0;
					-webkit-appearance: none;
					appearance: none;
					background-color: transparent;
					border: 0;
					border-radius: 0;
					outline: 0;
					font-family: $font-family;
					font-weight: $font-weight-bold;
					color: $slate;
					line-height: $line-height-condensed;
					text-align: left;
					cursor: pointer;

					&:focus-visible {
						outline: 0;
						box-shadow: inset 0 0 0 $border-size $slate;
					}
				}
			}

			.tax-boxes {
				margin-bottom: 20px;
			}

			.short-description {
				margin-bottom: 15px;
			}

			.action-link {
				&:focus-visible {
					outline: 0;
					box-shadow: inset 0 0 0 $border-size $slate;
				}
			}

			.button-wrap {
				position: absolute;
				bottom: 25px;
			}
		}
	}

	&.featured {
		.thread-listing-inner {
			.thread-listing-item {
				background-color: $slate;

				h4 {
					button {
						color: $blue;

						&:focus-visible {
							outline: 0;
							box-shadow: inset 0 0 0 $border-size $white;
						}
					}
				}

				.short-description,
				.action-link,
				.credit-cost {
					color: $white;
				}

				.action-link {
					&:focus-visible {
						outline: 0;
						box-shadow: inset 0 0 0 $border-size $white;
					}
				}

				.button-wrap {
					.button-wrap-inner {
						button {
							&[disabled] {
								box-shadow: inset 0 0 0 $border-size $white;

								span {
									color: $white;
								}
							}
						}
					}
				}
			}
		}
	}
}
