@import "../../styles/variables";

.grey-box {
	padding-bottom: $spacing-large;

	.grey-box-inner {
		padding: $spacing-large;
		background-color: $grey-lt;

		.inner-box {
			margin-bottom: $spacing-standard;
			padding: 25px;
			background-color: $grey;

			&.end-buttons {
				padding-bottom: $spacing-standard;
			}

			&.end-paragraph {
				padding-bottom: 1px;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&.in-modal {
		padding-bottom: 0;

		&.no-bottom-spacing {
			padding-bottom: 0;
		}

		.grey-box-inner {
			padding: $spacing-standard;
		}
	}

	&.end-buttons {
		.grey-box-inner {
			padding-bottom: $spacing-standard;
		}
	}

	&.end-paragraph {
		.grey-box-inner {
			padding-bottom: #{$spacing-medium / 2};
		}
	}
}
