@import "../../../lib/styles/variables.scss";

.format-menu {
	&.line {
		width: 96px;
		height: 47px;
		right: #{$spacing-large / 2};
		bottom: #{$spacing-large / 2};
		padding: 20px;
		z-index: 9998;

		&.both-menus-open {
			bottom: 186px;
		}
	}
}
