@import "../../../lib/styles/variables.scss";

.format-menu {
	position: absolute;
	background-color: $slate-lt;
	cursor: default;

	.format-menu-inner {
		display: flex;
		flex-wrap: wrap;

		button {
			width: 38px;
			height: 38px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 5px;
			-webkit-appearance: none;
			appearance: none;
			background-color: $slate;
			border: 0;
			border-radius: 50%;
			transition: all $transition-speed $transition-easing;
			cursor: pointer;

			svg {
				font-size: 21px;
				color: $white;
			}

			&.align {
				svg {
					width: 21px;
					height: 21px;
					fill: $white;
				}

				&.h-center {
					svg {
						width: 17px;
					}
				}

				&.v-center {
					svg {
						height: 17px;
					}
				}
			}

			&:hover,
			&:focus-visible {
				background-color: $blue;
				outline: 0;
				color: $slate;

				svg {
					color: $slate;
					fill: $slate;
				}
			}
		}
	}

	&.single {
		display: inline-block;
		left: 25px;
		padding: 1px 20px;
		z-index: -1;
	}

	&.multi {
		width: 144px;
		height: 96px;
		right: #{$spacing-large / 2};
		bottom: #{$spacing-large / 2};
		padding: 20px;
		z-index: 9998;
	}
}

.message {
	.format-menu {
		&.single {
			left: 250px;
		}
	}
}
