@import "../../../lib/styles/variables";

.node-wrap {
	.node {
		display: flex;
		z-index: 0;

		.node-body {
			width: 350px;
			display: flex;
			position: relative;
			padding: 0 0 0 25px;
			z-index: 1;

			.node-body-inner {
				width: 100%;
				display: flex;
				align-items: center;
				position: relative;
				padding: 14px 25px 14px 40px;
				box-sizing: border-box;
				border: 0;
				box-shadow: none;
				background: $slate;
				color: $white;
				border-radius: 0 50px 50px 0;

				.node-shape {
					width: 50px;
					height: 50px;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translate(-50%, -50%);

					.node-shape-inner {
						position: relative;

						.shape-icon {
							svg {
								width: 50px;
								height: 50px;
								display: block;

								.shape-bg {
									fill: $slate;
								}
							}
						}

						.status-icon {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);

							svg {
								font-size: $font-size-supporting;
								color: $slate;
								line-height: $line-height-condensed;
							}
						}
					}

					&:focus-visible {
						outline: 0;
					}
				}

				.node-label {
					width: 100%;
					display: flex;
					align-items: center;

					.node-name {
						width: 100%;
						min-height: 22px;
						margin-right: 25px;
						font-size: $font-size-supporting;
						color: $white;
						text-align: left;
					}

					.notifs {
						display: flex;

						.notif-badge {
							margin-right: 15px;

							&.small {
								min-width: 14px;
								height: 22px;
							}

							&.alt {
								background-color: $yellow;
							}
						}
					}

					svg {
						width: 13px !important;
						height: 15px !important;
					}

					&:focus-visible {
						outline: 0;
					}
				}

				&:focus-visible {
					outline: 0;
				}
			}

			&.start,
			&.end {
				padding-left: 0;

				.node-label {
					.node-name {
						margin-right: 0;
						text-align: center;
					}
				}
			}

			&.end {
				.node-body-inner {
					border-radius: 50px 0 0 50px;
				}
			}

			&:focus-visible {
				outline: 0;

				.node-body-inner {
					background-color: $blue;
					box-shadow: inset 0 0 0 5px $slate;

					.node-label {
						.node-name {
							color: $slate;
						}

						.notifs {
							.notif-badge {
								border: $border-size solid $slate;

								&.small {
									min-width: 10px;
									height: 18px;
								}
							}
						}

						svg {
							color: $slate;
						}
					}
				}
			}
		}

		.node-wing {
			width: 75px;
			display: flex;
			align-items: center;
			box-sizing: border-box;
			-webkit-appearance: none;
			appearance: none;
			background-color: $grey-dk;
			border: 0;
			font-size: $font-size-supporting;
			color: $slate;
			text-align: left;
			z-index: 1;
			cursor: pointer;

			&:focus-visible {
				outline: 0;
				box-shadow: inset 0 0 0 5px $slate;
			}

			.node-wing-inner {
				width: 100%;
				display: flex;
				align-items: center;

				.wing-icon {
					width: 22px;
					height: 22px;
					display: flex;
					flex-shrink: 0;
					align-items: center;
					justify-content: center;
					background-color: $grey-dk;
					border: $border-size solid $slate;
					border-radius: 50%;

					svg {
						font-size: 12px;
						color: $slate;
					}
				}

				.wing-text {
					width: 100%;
				}
			}

			&.content {
				.node-wing-inner {
					.wing-icon {
						background-color: $white;
					}
				}
			}

			&.left-wing {
				padding: 12px 25px 12px 15px;
				border-radius: 50px 0 0 50px;

				&.true {
					// padding-left: 0;
					background-color: transparent;
					border-radius: 0;
				}

				.wing-icon {
					margin-right: 15px;
				}
			}

			&.right-wing {
				padding: 12px 15px 12px 25px;
				border-radius: 0 50px 50px 0;

				&.statement {
					cursor: default;
				}

				&.true {
					border-radius: 0;
				}

				.node-wing-inner {
					justify-content: flex-end;

					.wing-icon {
						margin-left: 15px;

						&.disabled {
							position: relative;

							&:after {
								content: "";
								width: 20px;
								height: 2px;
								display: block;
								position: absolute;
								background-color: $slate;
								transform: rotate(45deg);
							}
						}
					}
				}
			}
		}

		.node-wing-content {
			width: 175px;
			padding: 14px 25px;
			background-color: $grey-dk;
			font-size: $font-size-supporting;

			&.left-wing-content {
				border-radius: 50px 8px 0 50px;
			}

			&.right-wing-content {
				border-radius: 8px 50px 50px 0;
			}
		}

		.node-wing {
			&.true {
				&.left-wing {
					& ~ .node-wing-content {
						padding-left: 25px;
						padding-right: 90px;
					}
				}

				&.right-wing {
					& ~ .node-wing-content {
						padding-left: 90px;
						padding-right: 25px;
					}
				}
			}
		}

		&.node-wings {
			.node-body {
				background-color: $grey-dk;
			}
		}

		&.no-panel {
			.node-body {
				width: 150px;

				.node-body-inner {
					padding: 14px 25px;
				}
			}
		}

		&.panel-open {
			.node-body {
				.node-body-inner {
					border-radius: 0 25px 0 0;
					cursor: pointer;
				}
			}
		}
	}

	&.text-node,
	&.note-node {
		.node {
			width: 225px;
			display: block;
			border: 0;
			color: $slate;
		}
	}

	&.text-node {
		.node {
			padding: 8px 12px;
			background-color: transparent;
		}

		&.selected {
			.node {
				background-color: $blue;
				outline: 0;
				box-shadow: inset 0 0 0 5px $slate;
			}
		}
	}

	&.note-node {
		.node {
			padding: 30px;
			box-sizing: border-box;
			background-color: $yellow;
			border-radius: 30px;
		}

		&.selected {
			.node {
				background-color: $blue;
				outline: 0;
				box-shadow: inset 0 0 0 5px $slate;
			}
		}
	}

	&.message {
		.panel-open {
			.node-body {
				.node-body-inner {
					border-radius: 0 25px 25px 0;
				}
			}
		}
	}
}

.react-flow__node {
	&.selected {
		.node:not(.panel-open) {
			.node-body-inner {
				background-color: $blue;
				box-shadow: inset 0 0 0 5px $slate;

				.node-label {
					.node-name {
						color: $slate;
					}

					.notifs {
						.notif-badge {
							border: $border-size solid $slate;

							&.small {
								min-width: 10px;
								height: 18px;
							}
						}
					}

					svg {
						color: $slate;
					}
				}
			}
		}
	}
}
