@import "../../lib/styles/variables.scss";

.comment-thread {
	.grey-box {
		&.breadcrumbs {
			.grey-box-inner {
				padding: 25px;
			}
		}
	}

	.content-type {
		height: 19px;
		display: inline-block;
		margin-bottom: 3px;
		padding: 0 7px;
		background-color: $grey-dk;
		font-weight: $font-weight-bold;
		font-size: 12px;
		text-transform: uppercase;
		line-height: $line-height-condensed;
		overflow: hidden;

		.content-type-inner {
			height: 17px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-top: 2px;
			color: $slate;
		}
	}

	.action-links {
		margin-bottom: $spacing-large;
	}

	.comment-thread-list {
		margin-bottom: $spacing-large;

		.comment-thread-item {
			margin-bottom: $spacing-standard;

			.meta {
				padding: 25px;
				background-color: $slate;
				color: $white;

				.meta-inner {
					display: flex;
					align-items: center;

					.profile-photo {
						width: 70px;
						height: 70px;
						flex-shrink: 0;
						margin-right: 25px;
						background-size: cover;
						background-repeat: no-repeat;
						border-radius: 50%;
					}

					.info {
						p {
							margin-bottom: 0;
							color: $white;

							&.comment-author {
								font-weight: 700;
							}
						}
					}

					.action-links {
						margin: 0 0 0 auto;
						padding-left: 50px;

						.action-link {
							color: $white;
							border-color: $white;
						}
					}
				}
			}

			.content {
				padding: 25px;
				background-color: $grey-lt;

				blockquote {
					margin: 0 0 $spacing-standard 0;
					padding: 0 0 0 #{$spacing-standard / 2};
					border-left: 5px solid $grey-dk;

					.quote-heading {
						display: block;
						margin: 0 0 4px 0;
						font-weight: $font-weight-bold;
					}
				}
			}

			&.reply {
				margin-left: 60px;
			}
		}

		.compose-reply {
			margin: $spacing-large 0 #{$spacing-standard / 2} 0;
		}
	}
}
