@import "../../lib/styles/variables.scss";

.comments-table {
	table {
		tbody {
			.checkbox-wrap {
				position: relative;
			}

			.author,
			.excerpt,
			.location,
			.date {
				color: $slate;
			}

			.author,
			.excerpt,
			.date {
				cursor: pointer;
			}

			.excerpt {
				.text {
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
			}

			.location {
				position: relative;

				.location-inner {
					display: flex;
					margin-left: 70px;
					font-size: $font-size-supporting;

					.content-type,
					.content-type-inner {
						width: 92px;
					}

					.content-type {
						height: 19px;
						flex-shrink: 0;
						margin-right: 15px;
						background-color: $grey-dk;
						font-weight: $font-weight-bold;
						font-size: 12px;
						text-transform: uppercase;
						line-height: $line-height-condensed;
						overflow: hidden;

						.content-type-inner {
							height: 17px;
							display: flex;
							align-items: center;
							justify-content: center;
							padding-top: 2px;
						}
					}
				}
			}

			& > .false {
				.unread-bar {
					width: 4px;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background-color: $blue;
					border-right: $border-size solid $slate;
				}

				&.location {
					.unread-bar {
						left: 1px;
					}
				}

				.author,
				.excerpt,
				.date {
					font-weight: $font-weight-bold;
				}
			}
		}
	}
}

table {
	&.table-toggle {
		tbody {
			tr {
				&.table-toggle-content {
					&.location {
						td {
							padding-top: 0;
						}
					}
				}
			}
		}
	}
}

table {
	&.table-toggle {
		tbody {
			tr {
				&.info {
					td {
						padding-bottom: 10px;
					}
				}

				&.table-toggle-content {
					&.location {
						td {
							padding-top: 0;
						}
					}
				}
			}
		}
	}
}
