@import "../../lib/styles/variables.scss";

.attribute-settings {
	.form-response {
		margin-top: $spacing-standard;
	}

	.attribute-usage {
		margin-bottom: 0;

		ul {
			margin-bottom: 0;

			li {
				a {
					font-weight: $font-weight-bold;
					color: $slate;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	.options-table {
		margin-bottom: $spacing-standard;
	}

	.code-settings {
		.code-editor-line-numbers {
			padding: #{$spacing-large / 2};
			background-color: $slate;
			font-family: $font-family-mono;
			color: $white;
			text-align: right;

			span {
				display: block;
			}
		}

		.code-editor {
			background-color: $slate-dk;
			border: 0;
			font-family: $font-family-mono;
			color: $white;
		}

		.code-input {
			font-family: $font-family-mono;
		}

		.code-output {
			p {
				display: block;
				margin-bottom: #{$spacing-standard / 2};
				font-weight: $font-weight-bold;
				font-size: $font-size-supporting;
				color: $slate;
				line-height: $line-height-condensed;
			}

			.output {
				padding: #{$spacing-large / 2};
				background-color: $grey-lt;
				font-family: $font-family-mono;
			}
		}
	}
}
