@import "../../lib/styles/variables";

.users {
	.email-address {
		display: block;
		font-size: $font-size-small;
		color: $slate;
		overflow: hidden;
		text-overflow: ellipsis;

		&:hover,
		&:focus-visible {
			text-decoration: none;
		}
	}
}

.users-table-note {
	margin: $spacing-standard 0 0 0;
	font-size: $font-size-supporting;
}
