@import "../../../../lib/styles/variables.scss";

.modal {
	.related-links {
		margin-bottom: $spacing-large;
	}

	.branch-rules {
		margin-bottom: 20px;
		padding-bottom: 1px;

		.branch-rule {
			margin-bottom: 30px;

			.toggle {
				margin-bottom: 20px;
			}
		}
	}
}
