@import "../../../../lib/styles/variables.scss";

.element-modal {
	.element-info {
		margin-bottom: $spacing-standard;
	}

	.grey-box {
		.collapse-trigger {
			margin-bottom: 0;
		}

		.collapse-content {
			.collapse-content-inner {
				padding-top: $spacing-standard;

				.grid-row {
					& > div {
						// width: calc(50% - 10px);

						&:first-of-type {
							margin-right: 10px;
						}

						&:last-of-type {
							margin-left: 10px;
						}

						.grid-col-inner {
							height: 100%;
							display: flex;
							flex-direction: column;

							.inner-box {
								height: 100%;
								margin-bottom: 20px;

								&:last-of-type {
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}
		}
	}

	.element-content {
		margin-bottom: $spacing-standard;

		.image-content {
			.element-image-preview {
				margin-bottom: 15px;

				img {
					width: auto;
					max-height: 300px;
					display: block;
				}
			}

			.action-link {
				margin-bottom: $spacing-standard;
			}
		}
	}
}
