@import "../../../../lib/styles/variables.scss";


.context{
  background-color: $grey;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;

  .collapse-trigger{
    margin-bottom: 0;
  }

  .inner-box{
    background-color: $grey-lt;
    margin-bottom: 15px;
    padding: 15px;
  }

  .ReactCollapse--content{
    margin-top: 15px;
  }

  ul,p{
    margin-bottom: 0;
  }
}