@import "../../../../lib/styles/variables.scss";

.element-container {
	border: 2px solid $slate;
	//padding: 20px;

	margin-top: 20px;
	margin-bottom: 20px;

	h4,
	.copy-bit-button {
		background: $slate;
		color: white;
		padding: 15px;
		margin-bottom: 0;
	}

	.copy-bit-button {
		text-align: right;
	}

	.copy-bit-button > button {
		color: white;
	}

	.bitCase {
		margin: 10px 20px;
	}
}
