@import "../../../lib/styles/variables.scss";

.canvas-toolbar-wrap {
	display: flex;
	position: fixed;
	top: 0;
	left: -500px;
	transition: all $transition-speed $transition-easing;
	z-index: 9998;

	.canvas-toolbar-panel {
		width: 500px;
		height: 100vh;
		background-color: $slate;
		color: $white;
		overflow-y: auto;

		.panel-inner {
			padding: $spacing-large;

			.heading-with-button {
				margin-bottom: $spacing-large;

				h2 {
					margin: 0 0 $spacing-standard 0;
					color: $white;
				}

				button {
					background-color: $white;

					&:hover {
						background-color: $blue;
					}

					span {
						color: $slate;
					}
				}
			}

			h1,
			.h1,
			h2,
			.h2,
			h3,
			.h3,
			h4,
			.h4,
			h5,
			.h5,
			h6,
			.h6,
			p,
			.action-link {
				color: $white;
			}

			h2,
			.panel-section {
				margin-bottom: $spacing-large;
			}

			.button {
				background-color: $white;

				span {
					color: $slate;
				}

				&:hover,
				&:focus-visible {
					background-color: $blue;
				}
			}

			.grey-box {
				.grey-box-inner {
					padding: #{$spacing-large / 2};
					background-color: $slate-lt;

					h3 {
						color: $white;
					}
				}
			}

			.grid-row {
				display: block;
				margin: 0;

				div[class*="grid-col-"] {
					width: 100%;
					margin: 0 0 $spacing-standard 0;
				}
			}

			form {
				width: 100%;

				.label {
					color: $white;
				}

				input:not([type="radio"]):not([type="checkbox"]),
				textarea {
					background-color: $slate;
					border: $border-size solid $white;
					font-size: $font-size-supporting;
					color: $white;

					&::placeholder {
						color: $white;
					}

					&:-ms-input-placeholder {
						color: $white;
					}

					&::-ms-input-placeholder {
						color: $white;
					}

					&:focus-visible {
						background-color: $white;
						color: $slate;

						&::placeholder {
							color: $slate;
						}

						&:-ms-input-placeholder {
							color: $slate;
						}

						&::-ms-input-placeholder {
							color: $slate;
						}
					}
				}

				textarea {
					height: 150px;
				}

				label.error {
					input:not([type="radio"]):not([type="checkbox"]),
					textarea {
						border: $border-size solid $blue;
					}
				}

				.form-response {
					&.error {
						color: $blue;
					}

					&.brancher-alert {
						color: $yellow;
					}
				}
			}

			.search-bar {
				.icon-box {
					background-color: $white;

					svg {
						color: $slate;
					}
				}

				.search-form {
					form {
						input:not([type="radio"]):not([type="checkbox"]) {
							font-size: $font-size-body;
						}
					}
				}

				&.focus {
					.icon-box {
						background-color: $blue;
					}

					.search-form {
						form {
							input:not([type="radio"]):not([type="checkbox"]) {
								&:focus-visible {
									background-color: $white;
									border-color: $blue;
									color: $slate;

									&::placeholder {
										color: $slate;
									}

									&:-ms-input-placeholder {
										color: $slate;
									}

									&::-ms-input-placeholder {
										color: $slate;
									}
								}
							}
						}
					}
				}
			}

			.table-scroll-wrap {
				border-color: $white;

				table {
					thead {
						background-color: $white;

						th {
							color: $slate;
						}
					}

					tbody {
						tr {
							td {
								.collapse-trigger {
									background-color: $slate-dk;
									color: $white;
								}

								.child-dash {
									background-color: $white;
								}
							}

							& > td {
								table {
									tr {
										background-color: $slate;

										&:nth-child(even) {
											background-color: $slate-lt;
										}
									}
								}
							}

							&.subgroup {
								border-color: $white;

								.subgroup-trigger {
									.child-dash {
										background-color: $white;
									}
								}
							}
						}
					}
				}
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&.panel-content-info {
			.canvas-info {
				margin-bottom: $spacing-large;
			}
		}

		&.panel-content-collab {
			font-size: $font-size-supporting;

			.grey-box {
				.grey-box-inner {
					background-color: $slate-dk;

					.notifs {
						.notif {
							margin-bottom: 15px;

							&.flex {
								.notif-badge {
									flex-shrink: 0;
								}
							}

							&:last-of-type {
								margin-bottom: 0;
							}

							.notif-badge {
								margin-right: 15px;
							}
						}
					}
				}
			}

			.revisions {
				.revision {
					margin-bottom: #{$spacing-medium / 2};

					.date,
					.user {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.canvas-toolbar {
		width: 170px;
		height: 100vh;
		background-color: $slate-lt;

		.toolbar-inner {
			height: 100vh;
			display: flex;
			flex-direction: column;

			& > div {
				padding: #{$spacing-large / 2};

				&.branding {
					display: flex;
					justify-content: center;
					padding: $spacing-large #{$spacing-large / 2};
					background-color: $slate-dk;

					a {
						&:focus-visible {
							outline: 0;
							box-shadow: inset 0 0 0 $border-size $blue;
						}

						.icon {
							width: 120px;
							height: 26px;
							display: block;
						}
					}
				}

				&.tools {
					flex-grow: 1;
				}

				&.info {
					background-color: $slate-dk;

					.status {
						margin-bottom: 20px;
						font-size: $font-size-small;
						color: $white;
						text-align: center;
						line-height: $line-height-condensed;

						span {
							display: block;
							font-weight: $font-weight-bold;
						}
					}
				}
			}

			.tools {
				.tools-inner {
					display: flex;
					flex-wrap: wrap;
					margin: -10px;

					button {
						width: 50px;
						height: 50px;
						margin: 10px;
						padding: 0;
						-webkit-appearance: none;
						background-color: $slate;
						border: 0;
						-webkit-border-radius: 50%;
						border-radius: 50%;
						font-size: 25px;
						color: $white;
						text-align: center;
						line-height: 1;
						transition: all $transition-speed $transition-easing;
						cursor: pointer;

						&.alert {
							background-color: $yellow;
							color: $slate;
						}

						&:hover,
						&.active,
						&:focus-visible {
							background-color: $blue;
							outline: 0;
							color: $slate;
						}
					}
				}
			}
		}
	}

	&.panel-open {
		left: 0;
	}
}
