@import "../../styles/variables";

.search-bar {
	&.table-search {
		margin-bottom: $spacing-standard;
	}

	.icon-box {
		width: 66px;
		height: 65px;
		padding: 18px 22px 17px 22px;
		box-sizing: border-box;
		background-color: $slate;
		font-size: 22px;
		color: $white;
	}

	.search-form {
		width: calc(100% - 66px);

		form {
			input[type="search"] {
				height: 65px;
				padding-top: 20px;
				padding-bottom: 20px;

				&::-webkit-search-cancel-button {
					width: 12px;
					height: 12px;
					display: block;
					margin: 0 0 0 25px;
					background-image: url("images/icon-times.svg");
					background-repeat: no-repeat;
					-webkit-appearance: none;
					appearance: none;
					cursor: pointer;
				}
			}
		}
	}
}
