@import "../../styles/variables";

.checkbox {
	height: 49px;
	display: flex;
	align-items: center;
	cursor: pointer;

	&.toggle {
		width: auto;
		display: inline-flex;
	}

	.checkmark {
		position: relative;
		margin-right: #{$spacing-standard / 2};

		input[type="checkbox"] {
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-color: $white;
			border: $border-size solid $slate;
			cursor: pointer;

			&:focus-visible {
				background-color: $blue;
				outline: 0;
			}

			&.true {
				background-color: $slate;

				&:focus-visible {
					background-color: $blue;
					outline: 0;

					& ~ svg {
						color: $slate;
					}
				}
			}
		}

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 12px;
			color: $white;
		}
	}

	.label {
		margin: 0;
		font-weight: $font-weight-regular;
		font-size: $font-size-body;
		line-height: $line-height-body;
	}
}
