@import "../../../lib/styles/variables.scss";

.datepicker {
	position: relative;

	svg {
		position: absolute;
		right: 25px;
		bottom: 16px;
		font-size: 21px;
	}

	.react-datepicker {
		border: $border-size solid $slate;
		border-radius: 0;
		font-family: $font-family;
		color: $slate;

		.react-datepicker__header {
			background-color: $grey;
			border-bottom: $border-size solid $slate;
			border-radius: 0;
		}

		.react-datepicker__current-month,
		.react-datepicker-time__header,
		.react-datepicker-year-header,
		.react-datepicker__day-name,
		.react-datepicker__day,
		.react-datepicker__time-name {
			color: $slate;
		}

		.react-datepicker__day,
		.react-datepicker__month-text,
		.react-datepicker__quarter-text,
		.react-datepicker__year-text {
			&:hover,
			&:focus-visible {
				outline: 0;
				background-color: $blue;
				border-radius: 0;
				box-shadow: inset 0 0 0 $border-size $slate;
			}
		}

		.react-datepicker__day--selected,
		.react-datepicker__day--in-selecting-range,
		.react-datepicker__day--in-range,
		.react-datepicker__month-text--selected,
		.react-datepicker__month-text--in-selecting-range,
		.react-datepicker__month-text--in-range,
		.react-datepicker__quarter-text--selected,
		.react-datepicker__quarter-text--in-selecting-range,
		.react-datepicker__quarter-text--in-range,
		.react-datepicker__year-text--selected,
		.react-datepicker__year-text--in-selecting-range,
		.react-datepicker__year-text--in-range {
			background-color: $slate;
			border-radius: 0;
			color: $white;

			&:hover,
			&:focus-visible {
				outline: 0;
				color: $slate;
			}
		}

		.react-datepicker__day--keyboard-selected,
		.react-datepicker__month-text--keyboard-selected,
		.react-datepicker__quarter-text--keyboard-selected,
		.react-datepicker__year-text--keyboard-selected {
			border-radius: 0;
			background-color: $blue;
			box-shadow: inset 0 0 0 $border-size $slate;
		}

		.react-datepicker__navigation {
			&:hover,
			&:focus-visible {
				outline: 0;
				background-color: $blue;
				box-shadow: inset 0 0 0 $border-size $slate;
			}
		}

		.react-datepicker__year-read-view--down-arrow,
		.react-datepicker__month-read-view--down-arrow,
		.react-datepicker__month-year-read-view--down-arrow,
		.react-datepicker__navigation-icon::before {
			border-color: $slate;
		}
	}

	.react-datepicker-popper {
		&[data-placement^="top"] {
			.react-datepicker__triangle {
				&:before {
					border-top-color: $slate;
				}

				&:after {
					bottom: 2px;
				}
			}
		}

		&[data-placement^="bottom"] {
			.react-datepicker__triangle {
				&:before {
					border-bottom-color: $slate;
				}

				&:after {
					top: 2px;
					border-bottom-color: $grey;
				}
			}
		}
	}
}
