@import "../../styles/variables.scss";

.file-upload {
	height: 98px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $white;
	border: $border-size dashed $slate;

	.file-upload-inner {
		font-size: $font-size-supporting;
	}
}
