@import "../../styles/variables";

input:not([type="radio"]):not([type="checkbox"]) {
	width: 100%;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 12px 25px;
	box-sizing: border-box;
	border: $border-size solid $slate;
	border-radius: 0;
	font-size: $font-size-body;
	color: $slate;
	line-height: $line-height-condensed;

	&:focus-visible {
		background-color: $blue;
		outline: 0;
	}
}
