@import "../../styles/variables";

input[type="radio"] {
	width: 22px;
	height: 22px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: $border-size solid $slate;
	border-radius: 50%;
	vertical-align: middle;
	cursor: pointer;

	&.checked {
		background-color: $slate;
		box-shadow: 0 0 0 #{$border-size + 1} inset $white;
	}
}
