@import "../../styles/variables";

textarea {
	width: 100%;
	height: 325px;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 25px;
	box-sizing: border-box;
	border: $border-size solid $slate;
	border-radius: 0;
	font-size: $font-size-body;
	color: $slate;
	line-height: $line-height-body;
	resize: none;

	&:focus-visible {
		background-color: $blue;
		outline: 0;
	}
}
