@import "../../styles/variables";

.toggle {
	.label {
		font-weight: $font-weight-bold;
		font-size: $font-size-supporting;
		color: $slate;
		line-height: $line-height-condensed;
	}

	.switch-box {
		width: 94px;
		height: 49px;
		display: inline-block;
		flex-shrink: 0;
		position: relative;

		.switch {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $slate;
			border-radius: 30px;
			transition: all $transition-speed $transition-easing;

			&:before {
				content: "";
				width: 39px;
				height: 39px;
				position: absolute;
				bottom: 5px;
				left: 5px;
				background-color: $white;
				border-radius: 50%;
				transition: all $transition-speed $transition-easing;
			}

			&.true {
				&:before {
					background-color: $blue;
					transform: translateX(45px);
				}
			}
		}

		input[type="checkbox"] {
			width: 0;
			height: 0;
			opacity: 0;

			&:focus-visible {
				& ~ .switch {
					background-color: $blue;
					outline: 0;
					box-shadow: inset 0 0 0 $border-size $slate;

					&::before {
						background-color: $slate;
					}
				}
			}
		}

		&.label-left {
			margin-left: 15px;
		}
	}

	&.disabled {
		.switch-box {
			.switch {
				&:before {
					background-color: $grey-dk;
				}
			}
		}
	}
}

.toggle-content {
	.toggle-content-inner {
		margin-top: $spacing-standard;
	}
}
