@import "../../../../../lib/styles/variables";

.modal-section {
	&.modal-action-links {
		.action-links {
			margin-bottom: 10px;

			.label {
				display: inline-block;
				margin-right: 15px;
				font-weight: 700;
				color: $slate;
			}

			.action-link {
				border-color: $slate;
				color: $slate;
			}
		}
	}
}
