@import "../../../../../lib/styles/variables";

.modal-section {
	&.attributes-list {
		.attributes {
			margin-bottom: $spacing-standard;

			p {
				color: $slate;
			}

			.attribute {
				display: flex;
				margin-bottom: #{$spacing-standard / 2};

				&:last-of-type {
					margin-bottom: 0;
				}

				.attribute-icon {
					width: 74px;
					display: flex;
					flex-shrink: 0;
					align-items: center;
					justify-content: center;
					background-color: $grey;

					svg {
						font-size: 22px;
						color: $slate;
					}
				}

				.attribute-info {
					width: 100%;
					padding: #{$spacing-large / 4} 0 #{$spacing-large / 4} #{$spacing-large /
						2};
					background-color: $grey-lt;

					ul {
						margin-bottom: 15px;

						li {
							font-size: $font-size-body;
							color: $slate;
						}
					}
				}

				.attribute-remove {
					padding: #{$spacing-large / 4} 20px #{$spacing-large / 4} #{$spacing-large /
						2};
					background-color: $grey-lt;

					.fa-minus-circle {
						cursor: pointer;
					}
				}

				.attribute-status {
					width: 16px;
					flex-shrink: 0;
					padding: #{$spacing-large / 4} 0 #{$spacing-large / 2} #{$spacing-large /
						4};
					background-color: $grey-lt;

					svg {
						font-size: $font-size-supporting;
						color: $slate;
					}
				}
			}

			p {
				font-size: $font-size-body;
				color: $slate;
			}
		}

		.action-link {
			font-size: $font-size-body;
			color: $slate;
		}

		.add-attribute {
			margin-bottom: $spacing-standard;

			.action-link {
				font-size: $font-size-body;
				color: $slate;
			}
		}
	}
}
