@import "../../../../../lib/styles/variables";

.modal-section {
	&.notif-box {
		padding: #{$spacing-large / 2};
		background-color: $slate-dk;

		.notifs {
			.notif {
				margin-bottom: 15px;
				font-size: $font-size-supporting;
				color: $white;

				&:last-of-type {
					margin-bottom: 0;
				}

				.notif-badge {
					margin-right: 15px;
				}

				.action-link {
					font-size: $font-size-supporting;
					color: $white;
				}
			}
		}
	}
}
