@import "../../lib/styles/variables";

.bitCase {
	//background: $grey;
	margin-bottom: 10px;
	border: 2px solid $slate;
}

.bit-case-header {
	background: $slate;
	padding: 10px;

	button,
	p {
		color: white;
		margin-bottom: 0;
	}

	.action-links {
		text-align: right;

		.action-link {
			border-right: 1px solid white;
		}
	}
}
.bit-case-content {
	padding: 10px;

	.toggle {
		padding-left: 15px;
	}
}
