@import "../../lib/styles/variables";

.bit,
.lme,
.passthrough {
	background: $grey;
	border-radius: 5px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

.hover:hover {
	background: #f5f5f5;
}
