@import "./variables";

.ReactCollapse--collapse {
	transition: height 250ms;
}

.collapse-trigger {
	width: 100%;
	display: block;
	padding: 0;
	background-color: transparent;
	border: 0;
	box-shadow: none;
	outline: 0;
	text-align: left;
	cursor: pointer;

	&:focus-visible {
		border: $border-size solid $slate;
	}

	.arrow {
		display: inline-block;
		position: relative;
		top: 2px;
		margin-left: #{$spacing-standard / 2};
	}
}
