@import "./variables.scss";

.react-contextmenu {
	min-width: 150px;
	background-color: $white;
	border: $border-size solid $slate;

	.react-contextmenu-item {
		padding: 10px 25px;
		cursor: pointer;

		&:hover {
			background: $grey;
		}
	}
}
