@import "./variables";

.flex {
	display: flex;
}

.no-wrap {
	white-space: nowrap;
}

main {
	padding: $spacing-large $spacing-standard 0 $spacing-standard;

	@media #{$break-xl-up} {
		padding-left: $spacing-large;
		padding-right: $spacing-large;
	}
}

section {
	margin-bottom: $spacing-large;

	&.last {
		margin-bottom: 0;
	}

	&.end-buttons {
		margin-bottom: $spacing-standard;
	}

	&.end-paragraph {
		margin-bottom: #{$spacing-medium / 2};
	}
}
