@import "./variables";

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: 0 0 $spacing-standard 0;
	font-family: $font-family;
	font-weight: $font-weight-bold;
	color: $slate;
	line-height: $line-height-condensed;
}

h1,
.h1 {
	margin-bottom: $spacing-large;
	font-size: $font-size-h1;
}

h2,
.h2 {
	font-size: $font-size-h2;
}

h3,
.h3 {
	font-size: $font-size-h3;
}

h4,
.h4 {
	font-size: $font-size-h4;
}

h5,
.h5 {
	font-size: $font-size-h5;
}

h6,
.h6 {
	font-size: $font-size-h6;
}

.heading-with-button {
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: $spacing-standard;

	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		margin: 0 $spacing-standard 0 0;
	}

	button {
		margin-bottom: 0;
	}
}

.heading-with-action-links {
	display: flex;
	align-items: center;

	.action-links {
		flex-shrink: 0;
		margin-left: auto;
		font-size: $font-size-body;
	}
}

p {
	margin: 0 0 $spacing-standard 0;
	font-family: $font-family;
	font-size: $font-size-body;
	color: $slate;
	line-height: $line-height-body;

	&.above-list {
		margin-bottom: #{$spacing-standard / 2};
	}
}

ul,
ol {
	margin: 0 0 $spacing-standard 0;
	padding-left: 20px;

	li {
		margin-bottom: 5px;

		&::marker {
			color: $blue;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	ul {
		list-style: disc;
	}
}

a {
	color: $slate;

	&:hover {
		text-decoration: none;
	}

	&:focus-visible {
		outline: 0;
		box-shadow: inset 0 0 0 $border-size $slate;
	}
}

strong,
b {
	font-weight: $font-weight-bold;
}

em,
i {
	font-style: italic;
}

.action-link {
	margin: 0 15px 0 0;
	padding: 0 15px 0 0;
	-webkit-appearance: none;
	background-color: transparent;
	border: 0;
	border-right: 1px solid $slate;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-weight: $font-weight-regular;
	font-size: $font-size-body;
	color: $slate;
	text-decoration: underline;
	text-transform: none;
	text-align: left;
	line-height: $line-height-condensed;
	cursor: pointer;

	&:hover,
	&:focus-visible {
		text-decoration: none;
	}

	&:focus-visible {
		outline: 0;
		box-shadow: inset 0 0 0 $border-size $slate;
	}

	&.notif-link {
		text-decoration: none;

		.notif-type {
			text-decoration: underline;
		}

		&:hover,
		&:focus-visible {
			.notif-type {
				text-decoration: none;
			}
		}
	}

	&[disabled] {
		text-decoration: none;
	}
}

div:not(.different-types) {
	& > .action-link {
		&:last-of-type {
			margin-right: 0;
			padding-right: 0;
			border-right: 0;
		}
	}
}

.action-links {
	.label {
		display: inline-block;
		margin-right: 15px;
		font-size: $font-size-body;
		font-weight: 700;
		color: $slate;
	}

	&.different-types,
	&.single-link {
		.action-link {
			&.last {
				margin-right: 0;
				padding-right: 0;
				border-right: 0;
			}
		}
	}
}

.cap {
	text-transform: capitalize;
}
