// Breakpoints
$break-xs: 425px;
$break-sm: 600px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

// Media Queries
$break-xs-up: "screen and (min-width: #{$break-xs})";
$break-sm-up: "screen and (min-width: #{$break-sm})";
$break-md-up: "screen and (min-width: #{$break-md})";
$break-lg-up: "screen and (min-width: #{$break-lg})";
$break-xl-up: "screen and (min-width: #{$break-xl})";

// Usage:
// @media #{$break-md-up} {}

// Colors
$white: #fff;
$grey-lt: #f2f2f2;
$grey: #e3e3e3;
$grey-dk: #c6c6c6;
$slate-lt: #394a56;
$slate: #2f3d47;
$slate-dk: #27313a;
$black: #000;
$blue: #16b1f0;
$green: #7faf41;
$red: #d1383f;
$yellow: #f2a524;

:root {
	--white: #{$white};
	--grey-lt: #{$grey-lt};
	--grey: #{$grey};
	--grey-dk: #{$grey-dk};
	--slate-lt: #{$slate-lt};
	--slate: #{$slate};
	--slate-dk: #{$slate-dk};
	--black: #{$black};
	--blue: #{$blue};
	--green: #{$green};
	--red: #{$red};
	--yellow: #{$yellow};
}

// Spacing
$spacing-standard: 30px;
$spacing-medium: 40px;
$spacing-large: 50px;

:root {
	--spacing-standard: #{$spacing-standard};
	--spacing-medium: #{$spacing-medium};
	--spacing-large: #{$spacing-large};
}

// Borders
$border-size: 2px;

:root {
	--border-size: #{$border-size};
}

// Font Families
$font-family: "Montserrat", Arial, Helvetica, sans-serif;
$font-family-mono: "IBM Plex Mono", "Courier New", Courier, monospace;
$font-family-icon: "Font Awesome 5 Free";

:root {
	--font-family: #{$font-family};
	--font-family-mono: #{$font-family-mono};
	--font-family-icon: #{$font-family-icon};
}

// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

:root {
	--font-weight-regular: #{$font-weight-regular};
	--font-weight-medium: #{$font-weight-medium};
	--font-weight-semi-bold: #{$font-weight-semi-bold};
	--font-weight-bold: #{$font-weight-bold};
	--font-weight-extra-bold: #{$font-weight-extra-bold};
	--font-weight-black: #{$font-weight-black};
}

// Font Sizes
$font-size-h1: 36px;
$font-size-h2: 32px;
$font-size-h3: 28px;
$font-size-h4: 24px;
$font-size-h5: 21px;
$font-size-h6: 18px;
$font-size-body: 18px;
$font-size-supporting: 16px;
$font-size-small: 14px;

:root {
	--font-size-h1: #{$font-size-h1};
	--font-size-h2: #{$font-size-h2};
	--font-size-h3: #{$font-size-h3};
	--font-size-h4: #{$font-size-h4};
	--font-size-h5: #{$font-size-h5};
	--font-size-h6: #{$font-size-h6};
	--font-size-body: #{$font-size-body};
	--font-size-supporting: #{$font-size-supporting};
	--font-size-small: #{$font-size-small};
}

// Line Height
$line-height-body: 1.4;
$line-height-condensed: 1.2;

:root {
	--line-height-body: #{$line-height-body};
	--line-height-condensed: #{$line-height-condensed};
}

// Transitions
$transition-speed: 0.1s;
$transition-easing: ease-in-out;

:root {
	--transition-speed: #{$transition-speed};
	--transition-easing: #{$transition-easing};
}
