@import "../../styles/variables";

.notif-badge {
	min-width: 14px;
	height: 34px;
	display: inline-block;
	padding: 0 10px;
	background-color: $blue;
	border-radius: 20px;
	font-weight: $font-weight-extra-bold;
	font-size: $font-size-supporting;
	color: $slate;
	line-height: $line-height-condensed;

	&.small {
		min-width: 14px;
		height: 22px;
		padding: 0 4px;
		font-size: $font-size-small;
	}

	&.alt {
		background-color: $yellow;
	}

	.notif-badge-inner {
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
}
