@import "../../styles/variables";

.button-wrap {
	margin-top: $spacing-medium;
}

.button {
	margin: 0 20px 20px 0;
	padding: 15px 25px 14px 25px;
	-webkit-appearance: none;
	appearance: none;
	background-color: $slate;
	border: 0;
	-webkit-border-radius: 29px;
	border-radius: 29px;
	font-weight: $font-weight-bold;
	font-size: $font-size-supporting;
	color: $white;
	text-transform: uppercase;
	text-align: left;
	line-height: $line-height-condensed;
	transition: all $transition-speed $transition-easing;
	cursor: pointer;

	&.no-margin-bottom {
		margin-bottom: 0;
	}

	&.no-margin-right {
		margin-right: 0;
	}

	svg {
		margin-right: 15px;
		color: $blue;
	}

	span {
		font-weight: $font-weight-bold;
		font-size: $font-size-supporting;
		color: $white;
		text-transform: uppercase;
		line-height: $line-height-condensed;
	}

	&:focus-visible {
		outline: 0;
		box-shadow: inset 0 0 0 $border-size $slate;
	}

	&.dark {
		background-color: $white;

		span {
			color: $slate;
		}

		&:focus-visible {
			box-shadow: inset 0 0 0 $border-size $white;
		}
	}

	&:hover,
	&:focus-visible {
		background-color: $blue;
		color: $slate;

		svg {
			color: $slate;
		}

		span {
			color: $slate;
		}
	}
}
