@import "../../styles/variables";

.main-nav {
	.item {
		margin: 0 0 5px 0;
		background-color: $slate;

		&:last-of-type {
			margin-bottom: 25px;

			@media #{$break-xl-up} {
				margin-bottom: $spacing-large;
			}
		}

		.icon-box {
			width: 70px;
			background-color: $slate-lt;

			.icon-box-inner {
				width: 70px;
				height: 70px;
				justify-content: center;
				align-items: center;

				svg {
					display: block;
					margin: 0;
					font-size: 22px;
					color: $white;
					transition: color $transition-speed $transition-easing;
				}
			}
		}

		.text-box {
			width: calc(100% - 70px);

			.text-box-inner {
				align-items: center;

				.text {
					width: calc(100% - 41px);
					padding: 24px 25px;
					text-align: left;
					transition: color $transition-speed $transition-easing;

					span {
						display: inline-block;
						margin-right: 15px;
						font-size: $font-size-supporting;
						font-weight: $font-weight-medium;
						color: $white;
						text-transform: none;
						line-height: $line-height-condensed;
					}

					&.notif-active {
						padding: 17px 25px;
					}
				}

				.arrow {
					width: 16px;
					margin-left: auto;
					margin-right: 25px;

					svg {
						margin: 0;
						font-size: 18px;
						color: $white;
						transition: color $transition-speed $transition-easing;
					}
				}
			}
		}

		&:hover {
			.icon-box {
				svg {
					color: $blue;
				}
			}

			.text-box {
				.text-box-inner {
					.text {
						span {
							color: $blue;
						}
					}

					.arrow {
						svg {
							color: $blue;
						}
					}
				}
			}
		}

		a {
			text-decoration: none;

			&.active {
				.icon-box {
					svg {
						color: $blue;
					}
				}

				.text-box {
					.text {
						span {
							color: $blue;
						}
					}
				}
			}
		}

		.sub-nav-trigger {
			width: 100%;
			margin: 0;
			padding: 0;
			-webkit-appearance: none;
			background-color: transparent;
			border: 0;
			-webkit-border-radius: 0;
			border-radius: 0;
			text-transform: none;
			cursor: pointer;

			&.expanded {
				.icon-box {
					svg {
						color: $blue;
					}
				}

				.text-box {
					.text-box-inner {
						.text {
							span {
								color: $blue;
							}
						}

						.arrow {
							svg {
								color: $blue;
							}
						}
					}
				}
			}
		}
	}
}
