@import "../../styles/variables";

.main-nav {
	.sub-nav {
		width: 100%;

		.sub-nav-item {
			a {
				display: block;
				font-weight: $font-weight-medium;
				font-size: $font-size-supporting;
				color: $white;
				line-height: $line-height-body;
				text-decoration: none;
				transition: color $transition-speed $transition-easing;

				.stripe {
					width: 70px;
					background-color: $slate-lt;
				}

				.text {
					width: calc(100% - 120px);
					padding: 0 25px 15px 25px;

					span {
						margin-right: 10px;
					}
				}

				&:hover,
				&.active {
					color: $blue;
				}
			}

			&:last-of-type {
				.text {
					padding-bottom: 25px;
				}
			}
		}
	}
}
