@import "../../lib/styles/variables.scss";

.loading {
  width: 100%;

  .statusText {
    animation: fadein 1s linear 4.9s;
  }

  .three-balls {
    margin: 5px 0;
    font-size: 0;
    white-space: nowrap;

    .ball {
      width: 13px;
      height: 13px;
      display: inline-block;
      position: relative;
      margin-left: 3px;
      margin-right: 3px;
      background-color: $blue;
      border: 1px solid white;
      border-radius: 50%;
      animation: bouncedelay 1.15s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99)
      both;

      &.ball1 {
        margin-left: 0;
        animation-delay: -0.16s;
      }

      &.ball2 {
        animation-delay: -0.08s;
      }

      &.ball3 {
        margin-right: 0;
      }
    }
  }
}

@keyframes bouncedelay {
  0% {
    top: -5px;
  }
  50% {
    top: 5px;
  }
  100% {
    top: -5px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
