@import "../../lib/styles/variables.scss";

.sandbox-modal {
	height: calc(100vh - 100px);

	.sandbox-modal-inner {
		display: flex;

		.info {
			width: calc(40% - 25px);
			margin-right: 25px;

			.data-heading {
				font-weight: 700;
				margin-bottom: 0;
			}

			.data-section .checkbox {
				margin-bottom: 20px;

				.label {
					font-weight: 700;
				}
			}

			.info-inner {
				height: 100%;
				display: flex;
				flex-direction: column;

				.info-top {
					.links {
						.action-links {
							margin-bottom: 15px;
						}
					}

					.profile {
						.action-links {
							margin-top: 15px;
						}
					}
				}

				.info-bottom {
					margin-top: auto;
				}
			}
		}

		.interaction {
			width: calc(60% - 25px);
			margin-left: 25px;
			padding: 25px;
			background-color: $grey-lt;

			&.statement {
				.rcw-sender {
					display: none;
				}
			}

			.rcw-widget-container {
				position: static;

				&.rcw-full-screen {
					height: calc(100vh - 250px);
				}

				.quick-buttons-container {
					flex-shrink: 0;
					margin: 20px 0 0 0;
					padding: 0;
					background-color: transparent;

					.quick-list-button {
						width: 100%;
						margin: 0;

						.quick-button {
							width: 100%;
							max-width: 500px;
							display: block;
							margin: 0 auto;
							padding: 18px 24px 17px 24px;
							box-sizing: border-box;
							background-color: $blue;
							background-attachment: unset;
							border: 0;
							-webkit-border-radius: 4px;
							border-radius: 4px;
							font-weight: $font-weight-bold;
							font-size: 15px;
							color: $white;
							text-transform: uppercase;
							text-align: center;
							line-height: $line-height-condensed;
							transition: all $transition-speed $transition-easing;
							cursor: pointer;

							&:hover,
							&:focus-visible {
								background-color: darken($blue, 10);
							}
						}
					}
				}

				.rcw-conversation-container {
					border-radius: 0;
					box-shadow: none;

					.rcw-header,
					.rcw-picker-btn {
						display: none;
					}

					.rcw-messages-container {
						padding: 0;
						background-color: transparent;

						.rcw-message {
							margin: 15px 0;

							.rcw-meta {
								display: flex;

								.rcw-timestamp {
									margin: 0;
									font-family: $font-family;
									font-size: $font-size-body;
									color: $slate;
									line-height: $line-height-body;
								}

								.rcw-links {
									margin: 0 0 0 15px;
									padding: 0 0 0 15px;
									border-left: 1px solid $slate;
								}
							}
						}

						.rcw-response,
						.rcw-client {
							width: 100%;

							.rcw-message-text {
								width: 56%;
								max-width: 350px;
								background-color: $white;
								border-radius: 0;
							}

							.loading-message {
								width: 58px;
							}
						}

						.rcw-client {
							align-items: flex-end;
						}
					}

					.rcw-sender {
						padding: 17px 0 0 0;
						background-color: transparent;
						border-radius: 0;

						.rcw-new-message {
							width: 100%;
							display: block;
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							padding: 10px 25px;
							box-sizing: border-box;
							border: $border-size solid $slate;
							border-radius: 0;

							&:focus-visible {
								background-color: $blue;
								outline: 0;
							}

							.rcw-input {
								font-family: $font-family;
								font-size: $font-size-body;
								color: $slate;
								line-height: $line-height-body;

								&[placeholder]:empty:before {
									color: $slate;
								}
							}
						}

						.rcw-send {
							margin: 0 0 0 30px;
							padding: 0;
							background-color: transparent;

							&:before {
								content: "Send";
								display: block;
								margin: 0;
								padding: 15px 25px 14px 25px;
								background-color: $slate;
								border: 0;
								-webkit-border-radius: 29px;
								border-radius: 29px;
								font-weight: $font-weight-bold;
								font-size: $font-size-supporting;
								color: $white;
								text-transform: uppercase;
								text-align: left;
								line-height: $line-height-condensed;
								transition: all $transition-speed $transition-easing;
								cursor: pointer;
							}

							&:hover,
							&:focus-visible {
								&:before {
									background-color: $blue;
									color: $slate;
								}
							}

							&:focus-visible {
								outline: 0;

								&:before {
									box-shadow: inset 0 0 0 $border-size $slate;
								}
							}

							.rcw-send-icon {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
