@import "../../lib/styles/variables.scss";

.sandbox {
	.grey-box {
		margin-top: $spacing-large;
		padding: 0;

		.h3 {
			margin-bottom: 0;
		}

		.ReactCollapse--content {
			padding-top: $spacing-standard;

			.user-data-list {
        margin: 0;
        padding: 0;
				list-style-type: none;
        column-count: 2;
        column-gap: $spacing-standard;

        @media #{$break-lg-up} {
          column-count: 3;
        }

        li {
          margin-bottom: 17px;
          color: $slate;

          .key-name {
            font-weight: $font-weight-bold;
          }
        }
			}
		}
	}
}
