@import "../../lib/styles/variables";

.loader {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.breadcrumbs-wrap,
.react-flow {
	width: calc(100vw - 170px) !important;
	margin-left: 170px;
}

.breadcrumbs-wrap {
	width: calc(100vw - 210px) !important;
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 0;
	z-index: 9998;

	.grey-box-inner {
		padding: 15px 25px;
		background-color: rgba(242, 242, 242, 0.9);

		.breadcrumbs {
			.breadcrumb {
				font-size: $font-size-supporting;
				color: $slate;

				&:last-of-type {
					font-weight: $font-weight-semi-bold;
				}
			}
		}
	}
}

.react-flow__minimap {
	width: 184px;
	bottom: 25px;
	right: 25px;

	&.format-menu-open {
		bottom: 186px;
	}

	&.line-menu-open {
		bottom: 136px;
	}

	&.both-menus-open {
		bottom: 297px;
	}
}

.react-flow__edge {
	.react-flow__edge-path {
		stroke: $slate;
		stroke-width: 4px;
	}

	&.selected {
		.react-flow__edge-path {
			stroke: $blue;
		}
	}
}

.react-flow__connection-path {
	stroke: $slate;
	stroke-width: 4px;
}

.react-flow__arrowhead {
	fill: $slate;
	stroke: $slate;
}

.react-flow__handle {
	width: 5px;
	height: 5px;
	background-color: $white;
	border: $border-size solid $slate;
	z-index: 9;

	&:before {
		content: "";
		width: 30px;
		height: 30px;
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
