@import "../../lib/styles/variables.scss";

.unmatched-table {
	table {
		tbody {
			.checkbox-wrap {
				position: relative;
			}

			.response {
				color: $slate;
				
				.location {
					margin: 15px 0 0 0;
					font-size: $font-size-supporting;
				}
			}

			& > .false {
				.unread-bar {
					width: 4px;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background-color: $blue;
					border-right: $border-size solid $slate;
				}

				.response {
					font-weight: $font-weight-bold;
				}
			}
		}
	}
}
