@import "../../styles/variables";

.sidebar {
	margin-top: 0;

	@media #{$break-xl-up} {
		margin-top: 56px;
	}

	.branding {
		align-items: center;
		justify-content: flex-start;
		padding: 25px;

		@media #{$break-xl-up} {
			justify-content: center;
			padding: 0;
		}

		.logo {
			img {
				width: 130px;
				height: 28px;
				display: block;

				@media #{$break-xl-up} {
					width: 180px;
					height: 39px;
				}
			}
		}

		.hamburger {
			display: block;
			margin: 0 0 0 auto;
			padding: 0;
			-webkit-appearance: none;
			background-color: transparent;
			border: 0;
			-webkit-border-radius: 0;
			border-radius: 0;
			cursor: pointer;

			@media #{$break-xl-up} {
				display: none;
			}

			.svg-inline--fa {
				font-size: 30px;
				color: $white;
				transition: color $transition-speed $transition-easing;
			}

			&:hover,
			&:focus-visible {
				.svg-inline--fa {
					color: $blue;
				}
			}
		}
	}

	.main-nav {
		@media #{$break-xl-up} {
			margin: 55px 0 5px 0;
		}
	}
}
