@import "../../styles/variables.scss";

.pagination {
	margin-top: $spacing-medium;

	.prev-button {
		margin: 0 30px 0 0;
	}

	.page-count {
		margin-right: 30px;

		& > span {
			font-weight: $font-weight-bold;
		}
	}

	.next-button {
		margin: 0;
	}
}
