@import "../../lib/styles/variables";

.login {
	min-height: 100vh;
	justify-content: center;
	margin: 0;
	background-color: $grey-lt;

	.login-inner {
		width: 100%;
		max-width: 500px;
		flex-direction: column;
		margin: $spacing-large;

		.logo {
			width: 180px;
			height: 39px;
			display: block;
			align-self: center;
			margin-bottom: $spacing-large;
		}

		h1 {
			margin-bottom: $spacing-standard;
			text-align: center;
		}

		.forgot {
			margin: $spacing-large 0 0 0;

			a {
				color: $slate;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.version {
			margin: $spacing-standard 0 0 0;
			font-weight: $font-weight-bold;
			font-size: $font-size-small;
		}
	}
}
