@import "../../styles/variables";

footer {
	padding: 25px;
	background-color: $grey-lt;

	@media #{$break-xl-up} {
		padding: $spacing-large;
	}

	.logo {
		img {
			width: 99px;
			height: 45px;
		}
	}

	.footer-text {
		flex-direction: column;
		margin-top: 5px;
		font-size: $font-size-small;
		color: $slate;

		@media #{$break-xl-up} {
			flex-direction: row;
		}

		.copyright {
			a {
				color: $slate;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.version {
			margin-top: 15px;
			font-weight: $font-weight-bold;

			@media #{$break-xl-up} {
				margin: 0 0 0 auto;
			}
		}
	}
}
