@import "../../../lib/styles/variables";

.insert-shape-panel {
	width: 205px;
	height: 361px;
	position: relative;
	padding: #{$spacing-large / 2};
	background-color: $slate;
	color: $white;
	overflow-y: auto;
	z-index: 5;

	@media #{$break-lg-up} {
		width: 475px;
	}

	.h6 {
		color: $white;
	}

	.shape-panel-buttons {
		.shape-panel-buttons-inner {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			margin: -7.5px -12.5px;

			@media #{$break-lg-up} {
				flex-direction: row;
			}

			.shape-panel-col {
				width: 100%;

				@media #{$break-lg-up} {
					width: 50%;
				}
			}

			.shape-button {
				width: calc(100% - 25px);
				height: 50px;
				margin: 7.5px 12.5px;
				padding: 0;
				-webkit-appearance: none;
				appearance: none;
				background-color: $slate;
				border: 0;
				cursor: pointer;

				.shape-button-inner {
					display: flex;
					position: relative;

					.shape-button-icon {
						width: 50px;
						height: 50px;
						position: absolute;

						svg {
							width: 50px;
							height: 50px;
							display: block;
							fill: $blue;

							.shape-bg {
								fill: $slate-dk;
							}
						}

						&:focus-visible {
							outline: 0;
						}
					}

					.shape-button-text {
						width: calc(100% - 25px);
						height: 50px;
						margin-left: 25px;
						padding-left: 35px;
						background-color: $slate-dk;
						border: 0;
						border-radius: 0 29px 29px 0;
						font-weight: $font-weight-medium;
						font-size: $font-size-supporting;
						color: $white;

						.shape-button-text-inner {
							height: 50px;
							display: flex;
							align-items: center;
						}
					}
				}

				&.no-icon {
					.shape-button-inner {
						.shape-button-text {
							width: 100%;
							margin-left: 0;
							padding-left: 25px;
						}
					}
				}

				&.end {
					.shape-button-inner {
						.shape-button-text {
							border-radius: 29px 0 0 29px;
						}
					}
				}

				&.text-icon {
					.shape-button-inner {
						.shape-button-icon {
							display: flex;
							align-items: center;
							justify-content: center;
							background-color: $slate-lt;

							img {
								width: 30px;
								height: 30px;
								display: block;
							}
						}
					}

					&.note {
						.shape-button-inner {
							.shape-button-icon {
								img {
									width: 27px;
								}
							}
						}
					}
				}

				&:focus-visible,
				&:hover {
					outline: 0;
					transition: all $transition-speed $transition-easing;

					.shape-button-inner {
						.shape-button-text {
							background-color: $blue;
							color: $slate;
						}
					}
				}
			}
		}
	}
}
